.taskform{
  /* border: 1px solid ; */
  margin: 50px;
  padding: 35px;
  text-align: center;
  width: 40%;
  border-radius: 15px;
  background-color: rgb(250, 204, 144);
  box-shadow: 2px 5px 10px rgb(0,0,0,0.2);
}

.box{
  display: flex;
  justify-content: center;
}

h2,.h2{
  text-align: center;
  font-family: cursive;
}



/* AddTaskForm.css */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid ;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-right: 40px;
 
}

span {
  margin-right: 10px;
  font-weight: bold;
}

button {
  cursor: pointer;
}

/* Optional: Add hover effect for better user experience */
li:hover {
  background-color: #f8f9fa;
}

